mixin article-preview(meta, num)
  div(class='article-preview')
    div(class='article-preview--meta') #{meta.date.day} #{meta.date.mounth}, #{meta.date.year} | #{meta.tags[0]}
    h3(class='article-preview--header') #{meta.title}.
    - let temp = require(`Articles/${num}/preview-text.md`);
    | !{temp}
    a(class='article-preview--link' href=`./article-${num}.html`) read more