mixin article-preview(meta, num)
  div(class='article-preview')
    div(class='article-preview--meta')
      <span>#{meta.date.day}</span> <span>#{meta.date.mounth}</span> <span>#{meta.date.year}</span>
      <span>| #{meta.tags[0]}</span>
    h3(class='article-preview--header') #{meta.title}.
    - let temp = require(`Articles/${num}/preview-text.md`);
    | !{temp}
    a(class='article-preview--link' href=`./article-${num}.html`) read more