mixin review(comment)
  li(class='review')
    picture
      source(srcset=`${require(`Images/person/${comment.foto}-1x.webp`).default}, 
                     ${require(`Images/person/${comment.foto}-2x.webp`).default} 2x`
            type='image/webp')
      img(class='review--photo' alt='person foto' width='138' height='138' loading='lazy'
          srcset=`${require(`Images/person/${comment.foto}-1x.jpg`).default},
                  ${require(`Images/person/${comment.foto}-2x.jpg`).default} 2x` 
          src=require(`Images/person/${comment.foto}-1x.jpg`).default)
    div(class='review-txt')
      p(class='review--person')=`${comment.name} from ${comment.country}`
      p(class='review--rating')
        span(class='visually-hidden') User rating: #{comment.rate} stars out of 5
        - for (let x=0; x < comment.rate; x++)
          span(aria-hidden='true')
      p(class='review--title')=comment.title
      p(class='review--msg')=comment.msg
