extends ./layout/base.pug

block preload
  link(rel='preload' href=require('Images/hero/contact-1098w.webp').default as='image' 
      media='(min-width: 512px) and (-webkit-min-device-pixel-ratio: 2)')
  link(rel='preload' href=require('Images/hero/contact-549w.webp').default as='image' 
      media='(min-width: 512px) and (max-width: 959px) and (-webkit-max-device-pixel-ratio: 1.5),' +
            '(min-width: 1241px) and (-webkit-max-device-pixel-ratio: 1.5)')
  link(rel='preload' href=require('Images/hero/contact-414w.png').default as='image' 
      media='(min-width: 960px) and (max-width: 1240px) and (-webkit-max-device-pixel-ratio: 1.5)')
  //- link(rel='preload' href=require('Fonts/poppins-regular.woff2').default as='font' type='font/woff2')

block content
  include ../components/header/header.pug
  main
    section(class='hero-wrap')
      div(class='hero hero-contact')
        div(class='hero-txt')
          div(class='hero--topic') home/contact us
          h1(class='hero--header') <span>24/7 Customer support</br>Including weekends.</span>
          p(class='hero--msg') We’re always there ti help regardless the number of queries at hand.
        picture
          source(srcset=`${require('Images/hero/contact-549w.webp').default} 549w,
                        ${require('Images/hero/contact-1098w.webp').default} 1098w`
                media='(min-width: 512px) and (max-width: 959px), (min-width: 1241px)' 
                sizes='(min-width: 512px) and (max-width: 959px) 549px,' + 
                      '(min-width: 960px) and (max-width: 1240px) 414px,' +
                      '(min-width: 1241px) 549px'
                type='image/webp')
          source(srcset=`${require('Images/hero/contact-414w.png').default} 414w, 
                        ${require('Images/hero/contact-549w.png').default} 549w,
                        ${require('Images/hero/contact-1098w.png').default} 1098w`
                sizes='(min-width: 512px) and (max-width: 959px) 549px,' + 
                      '(min-width: 960px) and (max-width: 1240px) 414px,' +
                      '(min-width: 1241px) 549px' 
                type='image/png')
          img(class='hero--img' src=require('Images/hero/contact-549w.png').default width='549' height='539' alt='text img' loading='lazy')
    div(class='box')
      p Please note that all message will be replied within the next 12hours
      include ../components/form/form-comment/form-comment.pug
    include ../components/gmap/gmap.pug
  include ../components/footer/footer.pug
  include ../components/logo/svg/spriteLogoIcon.svg
  include ../images/icon/card/spriteCardIcon.svg
  include ../components/modal/modal-auth/modal-auth.pug
  include ../components/modal/modal-trade/modal-trade-coin.pug
  include ../components/modal/modal-trade/modal-trade-card.pug
  script(defer src='https://maps.googleapis.com/maps/api/js' crossorigin='anonymous')
  //- script(defer src='https://maps.googleapis.com/maps/api/js')