doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(name="referrer" content="strict-origin-when-cross-origin")
    title #{htmlWebpackPlugin.options.title}
    block preload
    link(rel='icon' href=require('Images/favicon/favicon.ico').default  sizes='any')
    link(rel='icon' href=require('Images/favicon/icon.svg').default type='image/svg+xml')
    link(rel='apple-touch-icon' href=require('Images/favicon/apple-touch-icon.png').default)
    style.
      @font-face {
        font-family: 'Poppins';
        font-weight: 400;
        font-display: swap;
        src:
          url(#{require('Fonts/poppins-regular.woff2').default}) format('woff2'),
          url(#{require('Fonts/poppins-regular.woff').default}) format('woff');
      }
      @font-face {
        font-display: swap;
        font-family: 'Poppins';
        font-weight: 700;
        src:
          url(#{require('Fonts/poppins-bold.woff2').default}) format('woff2'),
          url(#{require('Fonts/poppins-bold.woff').default}) format('woff');
      }
    block styles
  body
    block content